<div class="padding-md">
    <h3 class="text-center">GOGOBeauty商家服务合同</h3>
    <p><b>甲方：</b>深圳市来了就美投资发展有限公司</p>
    <p><b>乙方：</b>拟进入GOGOBeauty平台的商家/服务提供者</p>
    <p>根据《中华人民共和国合同法》等相关法律、法规的规定，经友好协商，达成以下合同，以兹共同遵守。</p>
    <h4>第一条  合同的范围</h4>
    <p>1.本合同内容包括合同正文及所有“GOGOBeauty”已经发布的或将来可能发布的各类规则。所有规则为合同不可分割的一部分，与合同正文具有同等法律效力。 </p>
    <p>2.乙方在使用甲方提供的各项服务的同时，承诺接受并遵守各项规则的规定。如本合同有任何变更，甲方将在GOGOBeauty平台上以公示形式通知乙方。如乙方不同意相关变更，必须立即以书面通知的方式终止本合同。任何修订和新规则一经在GOGOBeauty平台上公布即自动生效，成为本合同的一部分。登录或继续使用服务将表示乙方接受经修订的合同。除另行明确声明外，任何使服务范围扩大或功能增强的新内容均受本合同约束。</p>
    <p>3.本合同不涉及乙方与用户之间因网上交易而产生的法律关系及法律纠纷。</p>
    <h4>第二条  服务内容</h4>
    <p>1.甲方授权许可乙方使用下述软件，并为乙方提供相应的软件技术服务：</p>
    <p>（1）GOGOBeauty店务管理系统;</p><p>（2）甲方已经取得或将来取得计算机软件著作权的有关GOGOBeauty平台的其他计算机软件。</p>
    <p>2.网络技术服务。本合同约定的网络技术服务是指，甲方以其自有技术、知识，为乙方解决其在GOGOBeauty平台经营过程中遇到的网络技术问题。例如，针对乙方工作人员使用“GOGOBeauty店务管理系统”、“ 店务管理系统后台”等进行技术指导和专业培训。 </p>
    <p>3.其他相关服务：</p><p>（1）协助乙方进入GOGOBeauty平台开展经营活动；</p><p>（2）按照GOGOBeauty平台关于交易信息的发布要求，协助乙方采集、撰写、编辑交易信息；</p><p>（3）为乙方提供现场或电话客户服务，协助乙方开展线上经营活动；</p><p>（4）与GOGOBeauty平台经营有关的其他服务。</p>
    <h4>第三条 保证金及管理费</h4>
    <p>1.乙方应缴纳保证金作为履行商家服务协议、消费者权益保障义务及遵守“GOGOBeauty平台”各项规则的保证。</p>
    <p>2.乙方应按照本合同约定向甲方支付管理费，该管理费由计算机软件服务费、网络技术服务费以及其他相关服务费构成。</p>
    <h4>第四条 费用、结算、退款</h4>
    <p>1.甲乙双方以人民币为结算货币，在“GoGoBeauty”平台上交易产生的款项统一由甲方指定银行对公账户或第三方支付平台账户进行代收代付。</p>
    <p>2.双方结算的依据：GOGOBeauty支付系统以及第三方支付平台或银行对账凭证都有记录的，以第三方支付平台或银行对账凭证为准；GOGOBeauty支付系统没有记录而第三方支付平台或银行对账凭证有记录的，以第三方支付平台或银行对账凭证为准；GOGOBeauty支付系统有记录而第三方支付平台或银行对账凭证没有记录的，以GOGOBeauty支付系统为准。</p>
    <p>3.在确认完成交易七日后，如果没有发生用户投诉事件，乙方可通过GOGOBeauty支付系统申请将其账户内的余额（被冻结款项除外）支付（“提现”）至其名下的指定第三方支付平台账户或银行账户，因第三方支付平台或银行方面原因致使提现延误的,甲方不承担责任。乙方承担因第三方支付平台账户或银行账户信息不正确而造成的相应损失。</p>
    <p>4.因转账交易发生的第三方支付平台手续费（微信、支付宝、银联等），甲方有权根据实际需要决定是否收取该手续费，费用标准以第三方支付平台的收费标准为准。</p>
    <p>5.乙方使用APP服务产生的结算、提现或客户的退款所涉及的金额均不计利息。</p>
    <p>6.在结算周期内，甲方将交易款项支付至乙方名下的指定银行账户或微信支付商户号，如遇节假日和周末顺延结算代收款项，如因交易违反第三方支付平台监管规则而导致提现或交易金额受限制或延误，甲方不应承担此责任。</p>
    <h4>第五条 甲方权利义务</h4>
    <p>1.甲方有义务在现有技术上维护整个GOGOBeauty交易平台的正常运行，并努力提升和改进技术，使交易活动得以顺利进行；</p>
    <p>2.甲方对乙方上传至GOGOBeauty平台的商品/服务信息包括产品项目详情、操作流程、操作时间、价格、地点等进行审核；</p>
    <p>3.甲方提供GOGOBeauty平台登陆账号和密码，并提供后台操作技术支持；</p>
    <p>4.乙方在此授予甲方独家的、全球通用的、永久的、免费的许可使用权利（并有权对该权利进行再授权），使甲方有权（全部或部分地）使用、复制、修订、改写、发布、翻译、分发、执行和展示乙方公示于GOGOBeauty平台的各类信息或制作其派生作品，和以现在已知或日后开发的任何形式、媒体或技术，将上述信息纳入其它作品内；</p>

    <p>5.甲方以普通非专业人员的知识水平标准对相关内容进行判别，可以认为这些内容或行为具有违法或不当性质的，甲方有权根据不同情况选择删除相关信息或停止对乙方提供服务，并追究相关法律责任；</p>
    <p>6.经国家生效法律文书确认乙方存在违法行为，或甲方有足够事实依据可以认定乙方存在违法或违反合同行为的，甲方有权在GOGOBeauty平台公布乙方的违法或违规行为；</p>
    <p>7.对于乙方在GOGOBeauty平台发布的下列各类信息，甲方有权在不通知乙方的前提下进行删除或采取其它限制性措施，包括但不限于：以规避费用为目的的信息；以炒作信用为目的的信息；甲方有理由相信存在欺诈等恶意或虚假内容的信息；甲方有理由相信与网上交易无关或不是以交易为目的的信息；甲方有理由相信存在恶意竞价或其它试图扰乱正常交易秩序因素的信息；甲方有理由相信属于违反公共利益或社会公序良俗或可能严重损害甲方或其它用户合法利益的信息；</p>
    <p>8.因网上交易平台的特殊性，甲方没有义务对所有商户的交易行为以及与交易有关的其它事项进行事先审查，但第三方通知甲方，交易平台上有违法或不当行为的，或认为某个具体商户或具体交易事项可能存在重大问题的情况下除外。</p>
    <p>9.所有消费者、商家交易均在GOGOBeautyAPP平台上进行线上交易支付，支付款项指定到达甲方公司对公银行账户或第三方支付平台账户，统一由甲方指定银行对公账户或第三方支付平台账户进行代收代付。  </p>
    <h4>第六条 乙方权利义务</h4>
    <p>1. 乙方提供商品/服务的展示页面，包括产品项目详情、操作流程、操作时间、价格、地点等，并定期更新GOGOBeauty平台上的信息。乙方因未及时更新其信息或未及时通知GOGOBeauty及其GOGOBeauty用户导致的不良后果承担全部责任；</p>
    <p>2.乙方应保证在GOGOBeautyAPP上发布的商品或服务等信息是真实并可实际交易的。乙方提供的商品/服务应符合国家法律、法规、规章的规定，涉及行政许可的，乙方应依法取得相关许可。如因乙方商品/服务造成GOGOBeauty用户损失的或乙方收款后不能提供商品或服务的，由乙方承担相应的赔偿责任。如甲方基于前述情况向消费者先行赔付的，甲方有权向乙方追偿；</p>
    <p>3. 乙方保证在GOGOBeauty平台的营销、促销、广告、入驻的资质文件符合甲方的管理要求（具体见《GOGOBeauty平台入驻项目及产品的资质要求》）；如因乙方违反或不遵守甲方管理要求受到了客户投诉、退款、退货等纠纷以及行政处罚等需要承担责任的，乙方自行承担相关责任，由此给甲方（包括其合作伙伴、代理人、职员等）造成损失的，乙方应予赔偿； </p>
    <p>4.保证向购买其商品或服务的买家开具合法合规发票，并保证按照国家相关规定自行承担相应税费。如因乙方发票开具错误、未开具发票或者其他发票问题引起的纠纷，均由乙方独立承担相应的法律责任，如造成甲方损失的，乙方应予以赔偿；</p>
    <p>5.对于虽已成交但并未实际消费的预约订单，无论该预约订单有效期是否届满，乙方同意甲方均有权留存该预约所对应的款项，并由甲方根据订单的约定及用户的要求与意愿，处置相应款项；</p>
    <p>6.乙方应在用户消费时及时在GOGOBeauty平台上验证，因乙方怠于履行验证义务而导致的损失由乙方承担；</p>
    <p>7.乙方应妥善保管商铺管理员账号，如因乙方保管、设置或使用不当造成的经济损失，由乙方自行承担责任；</p>
    <p>8. 乙方在使用过程中如发现任何非法盗用GOGOBeauty账号出现安全漏洞等情况，应立即通知甲方；</p>
    <p>9. 乙方应保证合作期间经营场所内实际销售价格不低于GOGOBeauty平台报价。 </p>
    <h4>第七条 违约责任</h4>
    <p>除本合同另有约定，如乙方违反本合同的任一条款或GOGOBeauty平台的任何规则，或乙方违反其在本合同的履行中做出的任何承诺和保证，或乙方提供的资质、证照等信息不属实，则甲方有权拒绝向乙方支付代收款项，并有权要求乙方在一定期限内纠正违约行为。如乙方在甲方要求的期限内纠正违约行为后符合本合同约定的，甲方应恢复向乙方支付代收款项；如乙方在甲方要求的期限内拒绝纠正或纠正后仍不符合本合同约定的，甲方有权单方解除本合同，并有权要求乙方按照自本合同生效之日起累计至乙方发生违约行为之日的代收款项总额的30%向其支付违约金。<p>
    <h4>第八条 合同终止和解除</h4>
    <p>1.如乙方提供的营业执照、签约代表人身份证信息、签约授权委托书或代收款确认书等资料涉及以下情形，甲方有权随时解除本合同，并直接下线本合同涉及的乙方在线项目，无需承担任何违约责任，因此导致的甲方损失亦由乙方承担：</p><p>（1）不实或无效的；</p><p>（2）与乙方上传信息不符的；</p><p>（3）缺失的。此外，如因乙方上述行为给买家造成损失的，甲方除暂停支付代收款项外，有权：</p><p>（a）协助买家直接对乙方进行追偿；</p><p>（b）直接在代收款项中扣除相应款项，先行向买家赔偿；</p><p>（c）代收款项不足以赔偿的，先行向买家赔付，后向乙方追偿。</p>
    <p>2.除另有约定外，本合同期限届满或本合同约定的其他终止情形发生时，本合同终止。合同履行过程中，一方经书面通知对方且经双方协商一致后，可解除本合同。本合同终止或解除后：</p><p>（1）甲方有权删除乙方已发布的商品/服务信息，且有权拒绝提供已删除的相关信息；</p><p>（2）乙方在本合同终止前已与用户达成的尚未履行完毕的订单，乙方应按照本合同及订单的约定继续履行相应义务；</p><p>（3）乙方同意甲方保存乙方资质信息、商品信息、交易记录等相关资料。</p>
    第九条 免责条款
    因战争、自然灾害、政府行为、互联网系统故障、互联网通讯提供商故障等不可抗力因素导致不能履行本合同项下义务，甲方无须承担责任。
    第十条、争议解决条款
    因本合同引起的或与本合同有关的任何争议，双方应协商解决。协商不成的，任何一方均可将争议提交深圳市福田区人民法院。
    <h4>第十一条 附则</h4>
    <p>1．除本合同另有约定外，与本合同有关的全部通知，可以网站/APP公告或采取书面邮寄形式或者电子邮件形式发出。任何一方按照本合同附件列明通知方式，向对方发出与本合同有关的通知，可视为该通知已经送达对方。</p>
    <p>2．本合同正文不得涂改修订，如有未尽事宜，应另行签订书面补充合同。</p>
    <p>3．本合同附件是本合同不可分割的组成部分，与本合同具有同等法律效力。</p>
    <p>4．本合同于甲方商品/服务信息首次发布之日生效。</p>
</div>
