<div class="reg-main breadcrumb">
    <ul class="tab">
        <li ng-repeat="item in pwdMessage" ui-sref-active="active" ui-sref="{{ item.link }}">{{ item.name }}</li>
    </ul>
    <div class="reg-width">
        <form class="ydm-reg" ng-submit="submit()" name="codeForm">
            <div class="form-group inp">
                <input type="text" class="form-control" placeholder="手机号"
                       name="account"
                       ng-model="account"
                       equired
                       ng-class="{true:'', false:'active'}[accounted]">
            </div>
            <div class="form-group inp" style="border-bottom: none;">
                <input type="text" class="form-control w187" style="border-bottom: 1px #ccc solid;"
                       placeholder="验证码"
                       ng-model="code"
                       required
                       ng-class="{true:'', false:'active'}[codeed]">
                <count-down cont="cont" account="account" url="{{ url }}"></count-down>
            </div>
            <div class="form-group marginTB-lg">
                <div class="custom-checkbox">
                    <input type="checkbox" id="chkRemember" checked required>
                    <label for="chkRemember"></label>
                </div>
                我已经阅读并同意
                <a ng-click="agreement()" class="hover" style="cursor: pointer;">《服务条款》</a>
            </div>
            <div class="marginTB-md">
                <button type="submit" class="btn btn-success btn-block" style="padding: 10px;"
                        ng-disabled="codeForm.$invalid">登 录
                </button>
            </div>
        </form>
    </div>
</div>


